@import "./assets/colors.scss";

.App {
	background: #e6e6e6;
	min-height: 100vh;
	color: #333;
	padding: 1rem;
}

nav {
	background-color: #333;
	display: flex;
	a {
		background: #a20015;
		color: #fff;
		flex: 1;
		text-align: center;
		text-decoration: none;
		transition: all ease 500ms;
		padding: 0.5rem;

		&:hover {
			background: #333;
		}

		&.active {
			background-color: #000;
		}
	}
}

main {
	background: #fff;
	min-height: 50vh;
	padding: 1rem;
}
